body {
  background-image: none;
  background-color: #ffffff;
  font-family: "Lucida Grande", "Segoe UI", "Arial", sans-serif;
}

#header {
  min-width: 675px;
  padding: 1em 0;
  border-bottom: none;
  width: 100%;
  max-width: 1243px;
  margin: 0 auto;
}

#headerRight {top: 14px;}
#headerLeft {top: 20px; padding:0;}

#body-content {
  border-top: 3px solid #AAAAAA;
}

#search_filtered .jd-selected {
  background-color: #0767a4;
}

#masthead-title, h1, h2, h3, h4, h5, h6 {
  font-family: "Avenir LT W01 65 Medium", Arial, Helvetica, sans-serif;
  color: #333;
}

/* Forms */
button,
input,
select,
textarea {
  margin: 0;
  vertical-align: baseline; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type='text'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.05s linear;
  -moz-transition: all 0.05s linear;
  -o-transition: all 0.05s linear;
  transition: all 0.05s linear;
  font-size: 0.875em;
  line-height: 2.57143em;
  height: 2.57143em;
  padding-left: 0.57143em;
  font-family: "Lucida Grande", "Segoe UI", "Arial", sans-serif;
  border: 1px solid #ededed;
  display: block;
  outline: none;
  outline-offset: 0; }

  input[type='text']:focus {
    border: 1px solid #007ac2;
  }


/* Buttons */
input[type='submit'] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #e98d32;
  font-size: 0.875em;
  line-height: 1.91429em;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.125);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.125);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-transition: all 0.05s linear;
  -moz-transition: all 0.05s linear;
  -o-transition: all 0.05s linear;
  transition: all 0.05s linear;
  font-family: "Avenir LT W01 65 Medium", Arial, Helvetica, sans-serif;
  padding: .3em 1.25em .3em;
  border: none;
  color: white;
  display: inline-block;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.125);
  letter-spacing: 1px;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

input[type='submit']:hover{
  background: #e16b17;
}
